@import 'pure-react-carousel/dist/react-carousel.es.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
	display:flex;
	flex-direction: column;
	overflow-y: scroll;
	scrollbar-width: none;
}










.App__WebContainer__Header__MenuSection {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	z-index: 2;
	position: fixed;
	width: 100vw;
	height: 80px;
	background:linear-gradient(rgb(90, 89, 89),transparent);
}

.App__WebContainer__Header__MenuSection__Logo {
	margin-top: -10px;
	margin-left: 13px;
}

.App__WebContainer__Header__MenuSection__RightSection {
	display: flex;
	flex-direction: row;
}

.App__WebContainer__Header__MenuSection__Login {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	margin-right: 20px;
	height: 20%;
	padding: 10px 20px;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	font-size: 16px;
	background-color: rgb(255, 255, 255);
	align-items: center;
}

.App__WebContainer__Header__MenuSection__Avatar {
	/* margin-top: -9px;
	margin-right: 10px;  */
	display: flex;
}

.App__WebContainer__Header__MenuSection__Dialog {
	display: flex;
	flex-direction: column;
	width: 400px;
	height: 450px;
}









.App__WebContainer__Header__PopUp {
	display: flex;
	flex-direction: column;
	height:450px;
	border-radius: 25px;
	background-color: rgba(223, 223, 223, 0.253);
}

.App__WebContainer__Header__PopUp__Name {
	display: flex;
	justify-content: center;
	margin-top: 5%;
	font-size: 40px;
}

.App__WebContainer__Header__PopUp__PassMail {
	display: flex;
	flex-direction: column;
	width: 70%;
	height:40%;
	align-items: center;
	justify-content: center;
	justify-content: space-around;
}

.App__WebContainer__Header__PopUp__UsualAsk {
	display: flex;
	flex-direction: row;
	align-items: center ;
	margin-bottom: 3%;
	justify-content: space-around;
}

.App__WebContainer__Header__PopUp__UsualAsk__Forgot {
	margin-bottom: 1%;
	cursor: pointer;
}

.App__WebContainer__Header__PopUp__Validate {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
	height: 10%;
	padding: 10px 20px;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	font-size: 16px;
	background-color: rgb(255, 255, 255);
	align-items: center;
	justify-content: center;
}

.App__WebContainer__Header__PopUp__CreateAccount {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	margin-right: 20%;
	margin-left: 20%;
	cursor: pointer;
	align-items: center;
	justify-content: center;
}







.App__WebContainer__Header__MenuSection__ProfilePopUp {
	display: flex;
	flex-direction: column;
	width: 300px;
	/* height: 650px; */
	align-items: center;
}

.App__WebContainer__Header__ProfilePopUp {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	border-radius: 25px;
	background-color: rgba(223, 223, 223, 0.253);
	align-items: center;
}

.App__WebContainer__Header__ProfilePopUp__FirstBlock {
	display: flex;
	flex-direction: row;
	height: 90%;
	width: 90%;

}

.App__WebContainer__Header__ProfilePopUp__Pics {
	position: relative;
}

.App__WebContainer__Header__ProfilePopUp__NameAge {
	position: absolute;
	color: white;
	top: 83%;
	left: 3%;
}

.App__WebContainer__Header__ProfilePopUp__Place {
	position: absolute;
	color: white;
	top: 92%;
	left: 3%;
}

.App__WebContainer__Header__ProfilePopUp__Score {
	padding-top: 6px;
}

.App__WebContainer__Header__ProfilePopUp__Gender {
	padding-bottom: 6px;
}

.App__WebContainer__Header__ProfilePopUp__SexualInterest {
	padding-bottom: 6px;
}

.App__WebContainer__Header__ProfilePopUp__Bio {
	margin: auto;
	width: 70%;
	padding-bottom: 6px;
}

.App__WebContainer__Header__ProfilePopUp__BioText {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.08);
	font-size: 0.9rem;
	border-radius: 16px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-left: -5%;
}

.App__WebContainer__Header__ProfilePopUp__TagsTitle {
	width: 70%;
}

.App__WebContainer__Header__ProfilePopUp__Tags {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 90%;
	height: 100px;
	padding-bottom: 6px;
	/* background-color: black; */
}

.App__WebContainer__Header__ProfilePopUp__Tags_Tag {
	margin-left: 1em;
}







.App__WebContainer__Header__MenuSection__MessagePopUp {
	width: 90%;
}

.App__WebContainer__Header__MessagePopUp {
	/* display: flex;
	width: 500px;
	height: 80%;
	background-color: rebeccapurple; */
	display: flex;
	flex-direction: row;
	width: 500px;
	/* border: 1px solid #ccc; */
	/* background: #e4e3e3; */
	/* border-radius: 8px; */
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.App__WebContainer__Header__MessagePopUp__GuysSection {
	width: 30%;
	/*height: 550px; */
	display: flex;
	flex-direction: column;
	/* border-radius: 0px 25px 25px 0px; */
	padding: 10px;
	overflow-y: auto;
	height: 600px;
	color: white;
	background-color: rgba(0, 102, 255, 0.829);
}

.App__WebContainer__Header__MessagePopUp__MessageSection {
	/* display: flex;
	flex-direction: column; */
	/* align-items: center; */
	/*height: 550px; */
	/* border-radius: 25px; */
	/* display: flex; */
	padding: 10px;
	width: 65%;
	background-color: rgba(150, 150, 150, 0.3);
}


.App__WebContainer__Header__MessagePopUp__GuysSection__SearchBox {
    margin-top: 16px;
    /* border-top: 1px solid #00000033; */
	margin-bottom: 32px;
    display: flex;
	position: relative;
    align-items: center;
	border-radius: 8px;
	background-color: rgba(156, 156, 156, 0.2);
	width: 100%;
	margin-left: 0;
}

.App__WebContainer__Header__MessagePopUp__GuysSection__SearchBox:hover {
	background-color: rgba(255, 255, 255, 0.6);
}

.App__WebContainer__Header__MessagePopUp__GuysSection__SearchIcon {
	/* width: 32px;
    display: flex;
    justify-content: center; */
	/* padding: theme.spacing(0, 2); */
	padding: 2%;
	height: 100%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	/* pointerEvents: 'none'; */
}

.App__WebContainer__Header__MessagePopUp__GuysSection__Search {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	border-radius: 8px;
	border: 1px solid transparent;
	background: rgba(255, 255, 255, 0.2);
	width: 95%;
	padding-left: 20%;
}

.App__WebContainer__Header__MessagePopUp__GuysSection__Title {
    display: flex;
	justify-content: center;
	font-family: Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
	margin-bottom: 5%;
}

.App__WebContainer__Header__MessagePopUp__GuysSection__UserBox {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 5%;
}

.App__WebContainer__Header__MessagePopUp__GuysSection__UserBox:hover {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 40px;
}

.App__WebContainer__Header__MessagePopUp__GuysSection__UserInfo {
	margin-left: 10%;
}

.App__WebContainer__Header__MessagePopUp__MessageSection__UserInfo {
	display: flex;
	margin-left: 2%;
	font-family: Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #686868;
	margin-bottom: 2.5%;
}

.App__WebContainer__Header__MessagePopUp__MessageSection__BlockMessage {
	height: 80%;
	background-color: rgba(255, 255, 255, 0.452);
	border: 1px solid rgba(255, 255, 255, 0.705);
	border-radius: 8px;
	margin-top: 2%;
	width: 97%;
	padding: 1%;
	display: flex;
	flex-direction: column;
}

.App__WebContainer__Header__MessagePopUp__MessageSection__TypeZone {
	height: 6%;
	background-color: rgba(255, 255, 255, 0.452);
	border: 1px solid rgba(255, 255, 255, 0.705);
	border-radius: 8px;
	margin-top: 4%;
	padding: 1%;
	width: 97%;
	display: flex;
	position: relative;
}

.App__WebContainer__Header__MessagePopUp__MessageSection__InputType {
	width: 89%;
	position: relative;
	outline: transparent;
	background: transparent;
	border: none;
	resize: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
}


.App__WebContainer__Header__MessagePopUp__MessageSection__SendIcon {
	top: 3px;
	right: 3px;
	position: absolute;
	color: rgba(0, 102, 255, 0.829);
}

.App__WebContainer__Header__MessagePopUp__MessageSection__MsgIn {
	display: flex;
	align-items: center;
	border-radius: 8px;
	background-color: rgba(174, 185, 204, 0.8);
	padding: 2%;
	margin-bottom: 1%;
	outline: transparent;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	overflow-wrap: break-word;
	max-width: 80%;
	max-height: none;
	width: fit-content;
	height: fit-content;
}

.App__WebContainer__Header__MessagePopUp__MessageSection__MsgOut {
	display: flex;
	border-radius: 8px;
	color: white;
	background-color: rgba(0, 102, 255, 0.8);
	width: 40%;
	padding: 2%;
	margin-bottom: 1%;
	outline: transparent;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	overflow-wrap: break-word;
	max-width: 80%;
	max-height: none;
	width: fit-content;
	height: fit-content;
	margin-left: auto;
}







.App__WebContainer__Header__MenuSection__SettingPopUp {
	width: 500px;
	height: 500px;
	border: 2px solid rgb(136, 136, 136);
	border-radius: 8px;
}


.App__WebContainer__Header__SettingPopUp {
	width: 100%;
	height: 100%;
	background-color: #ececec;
	overflow-y: scroll;
}

.App__WebContainer__Header__SettingPopUp_Title {
	width: 98%;
	height: 50px;
	position: sticky;
	top: 0px;
	font-size: 30px;
	font-weight: bold;
	color: rgb(0, 0, 0);
	background-color: white;
	display: flex;
	align-items: center;
	padding-left: 2%;
}

.App__WebContainer__Header__SettingPopUp_BoxTitle {
	width: 99%;
	height: fit-content;
	padding-left: 1%;
	margin-top: 3%;
	margin-bottom: 1%;
	font-size: 15px;
	font-weight: bold;
}


.App__WebContainer__Header__SettingPopUp_SettingName {
	display: flex;
	width: 99%;
	height: 30px;
	background-color: white;
	padding-left: 3%;
	margin-top: 3%;
	margin-left: -2%;
	font-size: 12px;
	align-items: center;
}

.App__WebContainer__Header__SettingPopUp_SettingNameGender {
	display: flex;
	width: 99%;
	height: 30px;
	background-color: white;
	padding-left: 3%;
	margin-top: 3%;
	margin-left: -2%;
	font-size: 12px;
	align-items: center;
}


.App__WebContainer__Header__SettingPopUp_SettingName__Text {
	font-size: 12px;
}

.toggle-switch {
	display: flex;
	width: 300px; /* Ajustez la largeur selon vos préférences */
	height: 30px;
	background-color: #ccc;
	border-radius: 15px;
	position: relative;
	cursor: pointer;
  }
  
  .slider {
	width: 120px; /* Ajustez la largeur selon vos préférences */
	height: 30px;
	background-color: #fff;
	border-radius: 15px; /* Ajustez la bordure pour obtenir une forme similaire */
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	color: #333;
	transition: transform 0.3s ease-in-out;
  }
  
  .option {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-weight: bold;
	color: #333;
  }
  .homme {
	background-color: #3498db; /* Couleur pour l'option "Homme" */
	border-radius: 15px 0px 0px 15px;

  }
  
  .autre {
	background-color: #ab28df; /* Couleur pour l'option "Autre" */
  }
  
  .femme {
	background-color: #e73ccb; /* Couleur pour l'option "Femme" */
	border-radius: 0px 15px 15px 0px;
  }
  
/* .switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: 0.4s;
	border-radius: 34px;
  }
  
  .slider:before {
	position: absolute;
	content: '';
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: 0.4s;
	border-radius: 50%;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:checked + .slider:before {
	transform: translateX(26px);
  } */
  
  /* Optional: Style adjustments for better visual representation */
  /* .switch {
	margin: 10px;
  }
  
  .slider {
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }
  
  .slider:before {
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  } */

.App__WebContainer__Header__SettingPopUp {

}

.App__WebContainer__Header__SettingPopUp {

}

.App__WebContainer__Header__SettingPopUp {

}

.App__WebContainer__Header__SettingPopUp {

}

.App__WebContainer__Header__SettingPopUp {

}

.App__WebContainer__Header__SettingPopUp {

}

.App__WebContainer__Header__SettingPopUp {

}

.App__WebContainer__Header__SettingPopUp {

}

.App__WebContainer__Header__SettingPopUp {

}

.App__WebContainer__Header__SettingPopUp {

}

.App__WebContainer__Header__SettingPopUp {

}

.App__WebContainer__Header__SettingPopUp {

}

.App__WebContainer__Header__SettingPopUp {

}

.App__WebContainer__Header__SettingPopUp {

}






.App__WebContainer__Header__MenuSection__MenuIcon {
	margin-top: 16px;
	margin-right: 13px;;
}








.App__WebContainer__Website__Main {
	display: flex;
	flex-direction: row;
	z-index: 0;
	height: 145vh;
	position: relative;
	align-items: center;
	justify-content: space-around;
}

.App__WebContainer__Website__Main__Background {
	z-index: 1;
	position: absolute;
	margin-top: -16%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.App__WebContainer__Website__Main__PrimarySentence {
	z-index: 2;
	margin-top: -26%;
	font-size: 50px;
	color: white;
}

.App__WebContainer__Website__Main__CreateAccount {
	z-index: 2;
	margin-top: 20px;
	margin-right: 20px;
	padding: 10px 20px;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	font-size: 20px;
	color: white;
	background:linear-gradient(rgb(245, 149, 71),rgb(255, 15, 15));
}









.App__WebContainer__Website__Main__PrimaryCard {
	display: flex;
	flex-direction: column;
	z-index: 2;
	background-color: antiquewhite;
	margin-top: -25%;
	width: 400px;
	height:500px;
	border: none;
	border-radius: 20px;
	align-items: center;
	justify-content: space-around;
}

.App__WebContainer__Website__Main__PrimaryCard__Profile {
	display: flex;
	margin-top: 3%;
	width: 95%;
	height: 90%;
	border: none;
	border-radius: 7px;
	/* background-color: rgb(191, 168, 228); */
	align-items: center;
	justify-content: space-around;
}

.App__WebContainer__Website__Main__PrimaryCard__Carousel__Slider {
	display: flex;
	flex-direction: row;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.App__WebContainer__Website__Main__PrimaryCard__Carousel__Pics {
	width: 100%;
	height: 100%;
	border-radius: 20px;
}

.slide__image__container {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.slide__image__prout {
	margin-bottom: -5%;
	width: 100%;
	height: 105%;
	border-radius: 20px;
}

.App__WebContainer__Website__Main__PrimaryCard__Carousel__DotGroup {
	display: flex;
	flex-direction: row;
    align-items: center;
	/* justify-content: space-around; */
	position: absolute;
	z-index: 66;
	margin-top: 2%;
	width: 90%;
	margin-left: 5%;
}

.carousel__dot {
	width: 50%;
	height: 8px;
	border: none;
	border-radius: 10px;
	margin: 0 4px;
	padding: 0;
	background-color: #c3c4ca;
}

.carousel__dot--selected {
	width: 50%;
	height: 8px;
	border-radius: 10px;
	background-color: #ffffff;
}


.App__WebContainer__Website__Main__PrimaryCard__Carousel__Back {
	border: none;
	background-color: transparent;
	font-size: 24px;
	color: #929292;
	position: absolute;
	left: 0;
	top: 50%;
	cursor: pointer;
	transition: color 0.3s ease-in-out; 
	z-index: 66;
}

.App__WebContainer__Website__Main__PrimaryCard__Carousel__Next {
	border: none;
	background-color: transparent; 
	font-size: 24px;
	position: absolute;
	right: 0;
	top: 50%;
	color: #929292;
	cursor: pointer;
	transition: color 0.3s ease-in-out; 
}

.App__WebContainer__Website__Main__PrimaryCard__Carousel__Back:hover,
.App__WebContainer__Website__Main__PrimaryCard__Carousel__Next:hover {
  color: rgba(255, 255, 255, 0.733);
}








.App__WebContainer__Website__Main__Response {
	display: flex;
	width: 100%;
	height: 20%;
	align-items: center;
	justify-content: space-around;
}

.App__WebContainer__Website__Main__Response__No {
	display: flex;
	width: 20%;
	height: 50%;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	background-color: rgb(194, 22, 22);
	align-items: center;
	justify-content: space-around;
}

.App__WebContainer__Website__Main__Response__No:hover {
	background-color: rgba(177, 28, 28);
}

.App__WebContainer__Website__Main__Response__Yes {
	display: flex;
	width: 20%;
	height: 55%;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	background-color: rgb(105, 194, 22);
	align-items: center;
	justify-content: space-around;
}

.App__WebContainer__Website__Main__Response__Yes:hover {
	background-color: rgb(53, 153, 22);
}








.App__WebContainer__Website__Main__OldCard {
	display: flex;
	z-index: 2;
	background-color: rgb(175, 175, 175);
	margin-top: -15%;
	width: 250px;
	height:420px;
	border: none;
	border-radius: 20px;
	align-items: center;
	justify-content: space-around;
	opacity: 0.9;
}

.App__WebContainer__Website__Main__OldCard__Profile {
	display: flex;
	width: 95%;
	height: 95%;
	border: none;
	border-radius: 15px;
	align-items: center;
	justify-content: space-around;
	opacity: 0.6;
}

.App__WebContainer__Website__Main__OldOldCard {
	display: flex;
	z-index: 2;
	background-color: rgb(68, 68, 68);
	margin-top: -5%;
	width: 200px;
	height:300px;
	border: none;
	border-radius: 20px;
	align-items: center;
	justify-content: space-around;
	opacity: 0.9;
}

.App__WebContainer__Website__Main__OldOldCard__Profile {
	display: flex;
	width: 95%;
	height: 95%;
	border: none;
	border-radius: 15px;
	align-items: center;
	justify-content: center;
	opacity: 0.3;
}

.App__WebContainer__Website__Main__NextCard {
	display: flex;
	z-index: 2;
	background-color: rgb(175, 175, 175);
	margin-top: -15%;
	width: 250px;
	height:420px;
	border: none;
	border-radius: 20px;
	align-items: center;
	justify-content: center;
}

.App__WebContainer__Website__Main__NextNextCard {
	display: flex;
	z-index: 2;
	background-color: rgb(68, 68, 68);
	margin-top: -5%;
	width: 200px;
	height:300px;
	border: none;
	border-radius: 20px;
	align-items: center;
	justify-content: center;
}








.App__WebContainer__Footer {
	z-index: 2;
	position: absolute;
	bottom: -410px;
	width: 100vw;
	height: 40vh;
	background-color: darkgray;
}

body.scrolling .App__WebContainer__Footer {
  bottom: 0;
}
